@font-face {
    font-family:clockFont;
    src: url(digital-7/digital-7\ \(mono\ italic\).ttf);
}

body{
    background-color: rgb(0, 0, 0);
}

.Clock{
    position: absolute;
    font-size: 170px;
    width: 60%;
    text-align: center;
    border:3px solid #22d7ff ;
    font-family: clockFont;
    color: #22d7ff;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-right: 45px;
}